<h1>Welcome to {{ title }}!</h1>
<!-- <courses></courses>
<authors></authors>
<star 
[isFavorite]="post.isSelected" 
(change)="onFavoriteChanged($event)"></star>
<title-input></title-input>
<my-panel>
    <ng-container class="heading">Head</ng-container>
    <div class="body">
        Body
    </div>
</my-panel>
<like
[likesCount]="tweet.likesCount"
[isLiked]="tweet.isLiked"></like>

<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses">
        {{ course.name }} <button (click)="onRemove(course)">Remove</button>
    </li>
</ul> -->
<!-- 
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy> -->

<!-- <my-contact-form></my-contact-form> -->

<course-form></course-form>